body {
	background-image: url(http://sivanweb.com/assets/header-bg.jpg);
	background-size: 1366px 668px;
	/*max-width: 100%;
	height: auto;*/
}

h1 {
	text-align: center;
	color: #958e8f;
	border-
}

p {
	font-family: Courier New;
	font-size: 26px;
	text-align: center;
	color: deepskyblue;
	font-weight: bold;
}
