body {
	background-image: url(http://sivanweb.com/assets/header-bg.jpg);
	background-size: 1366px 668px;
	/*max-width: 100%;
	height: auto;*/
}

h1 {
	text-align: center;
	color: darkgray;
	border-bottom-style: ridge;
	border-color: black;
	max-width: 800px;
	margin-left: 280px;
}	

h4 {
	text-align: center;
	margin-top: 30px;
	font-size: 30px;
}	

p {
	font-family: Courier New;
	font-size: 26px;
	text-align: center;
	color: deepskyblue;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: red;
}	
