body {
	background-image: url(http://sivanweb.com/assets/header-bg.jpg);
	background-size: 1366px 668px;
}

h1 {
	text-align: center;
	color: blue;
}

p {
	font-family: Courier New;
	font-size: 26px;
	text-align: center;
	color: deepskyblue;
}
