.header {
  border-bottom-style: 7px solid dark gray;
  font-family: courier new;
  margin-bottom: 20px;
  text-align: center;
  

.container {
  max-width: 1000px;
  height: 750px;
}  

.catportrait {
  width: 680px;
  height: 480px;
}
