.header {
  border-bottom-style: 7px solid dark gray;
  font-family: courier new;
  margin-bottom: 20px;
  

div {
  width: 90%;
  height: 680px;
  overflow: hidden;
}  

div img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
