.header {
  border-bottom-style: 7px solid dark gray;
  font-family: courier new;
  margin-bottom: 20px;

div {
  max-width: 90%;
  max-height: 680px;
}  

.catportrait {
  width: 100%;
  height: auto;
  overflow: hidden;
}
